<!DOCTYPE html>
<html>
<head>
  <title>Pet Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<h1><%= link_to 'Owners and Pets', root_path %></h1>
		
		<%= yield %>

	</div>
</div>

</body>
</html>
